<div style="text-align: center;" class="bg-dark" id="encabezado">
  <br>
  <h3 class="text-white">NOTICIERO</h3>
  <br>
</div>

<div style="text-align: center">
  <button  class = "btn btn-warnign" (click) = "show =! show">OCULTAR</button>
</div>

<div *ngIf = "show">

  <div class="fondo">
    <div class="col" ng-oninit = ""  *ngFor = "let noticia of resultadosNoticias">
      <br>
      <div class="card" >
        <p class="card-text">{{noticia.title}}</p>
        <img [src]="noticia.urlToImage" alt="Imágen" class="card-img-top">
        <br>
        <p class="Descripcion">{{ noticia.description}}</p>
        <br>
      </div>
      <br>
    </div>
  </div>

</div>