/* You can add global styles to this file, and also import other style files */
*{
    font-size:"arial";
    color:#fff;
}
.col{
    background: rgba(52, 58, 64, 0.884);
}
#encabezado{
    width: 100%;
}
.card-text{
    position: relative;
    left:2%;
    font-size:25px;
    font-weight: bold;
}
.card-img-top{
    border-radius:10%;
    padding:3%;
}
.card{
    background: rgb(52, 58, 64);
    border-radius:5%;
    border: 3px solid #fff
}
.Descripcion{
   padding:2%;
}